* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background: linear-gradient(to left, rgb(71, 40, 40), rgb(216, 185, 99))
}
h1 {
  margin-top: 5rem;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
}
form {
  margin-top: 1rem;
  text-align: center;
}
input {
  height: 35px;
  width: 250px;
  font-size: 20px;
}
button {
  margin-left: 5px;
  font-size: 23px;
}
button:hover {
  background-color: black;
  color: whitesmoke;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
div.todo {
  list-style: none;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
li.todo-item {
  font-size: 25px;
  width: 80%;
  color: white;
  background-color: darkgray;
}